{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ lieu.nom }}</td>
        </tr>
        <tr>
            <th>Types de Pokemon</th>
            <td>
                {% for row in lieu.idType %}
                    {{ row.type }}
                {% endfor %}
            </td>
        </tr>
        {% if not noleader %}
            <tr>
                <th>Chasser avec</th>
                <td>
                    {{ form_start(capture) }}
                    {{ form_label(capture.leader) }}
                    {{ form_widget(capture.leader) }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <button class="btn btn-lg btn-primary"
            {% if noleader %}
                type="button" style="color: grey"
            {% else %}
                type="submit"
            {% endif %}
    >chase</button>

    {% if not noleader %}
        {{ form_end(capture) }}
    {% endif %}

    <br/>

    <a class="btn btn-primary" href="{{ path('lieu_index') }}">back to list</a>

{% endblock %}
