{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}

    <h1>Register</h1>
    <br />

    <table class="table">
        <tbody>
        <tr>
            <th>{{ form_label(registrationForm.email) }}</th>
            <td>{{ form_widget(registrationForm.email) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(registrationForm.pseudo) }}</th>
            <td>{{ form_widget(registrationForm.pseudo) }}</td>
        </tr>
        <tr>
            <th style="font-size: medium">Mot de passe</th>
            <td>{{ form_widget(registrationForm.plainPassword) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(registrationForm.starter) }}</th>
            <td>{{ form_widget(registrationForm.starter) }}</td>
        </tr>
        <tr>
            <th style="font-size: medium">Surnom du Pokemon</th>
            <td>{{ form_widget(registrationForm.surnom) }}</td>
        </tr>
        <tr>
            <th style="font-size: medium">J'accepte les CGU du Pokegame</th>
            <td>{{ form_widget(registrationForm.agreeTerms) }}</td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-lg btn-primary" type="submit">Register</button>

    {{ form_end(registrationForm) }}

    <button class="btn btn-lg btn-primary">
        <a href="{{ path('app_login') }}">I have an account</a>
    </button>

{% endblock %}
