{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <h5 class="card-title">Bienvenue sur ton Pokedex <span class="badge badge-pill badge-primary">{{ dresseur.pseudo }}</span></h5>

    <h4 class="card-title"><span class="badge badge-pill badge-primary">{{ dresseur.money }}</span> piece(s) dans ton porte monnaie !</h4>

    <h4 class="card-title"><span class="badge badge-pill badge-primary">{{ total }}</span> Pokemon dans ton Pokedex. Ajoutes-en vite de nouveaux !</h4>

    <h4 class="card-title"><span class="badge badge-pill badge-primary">{{ (total-nbEvo) }}</span> base(s)</h4>

    <h4 class="card-title"><span class="badge badge-pill badge-primary">{{ nbEvo }}</span> évolution(s)</h4>

    <h4 class="card-title">Nb Pokemon par type </h4>

    <table class="table table-striped">
        <thead>
        <th>Type</th>
        <th>Nb Pokemon</th>
        </thead>
        <tbody>
        <tbody>
        {% for row in stats %}
            <tr>
                <td>{{ row['type'] }}</td>
                <td>{{ row['nb'] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('dresseur_edit', {'id': dresseur.id}) }}">edit</a>

{% endblock %}
