{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Pokedex Id</th>
            <th>Espece</th>
            <th>Surnom</th>
            <th>Niveau</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td>{{ pokemon.idEspece.id }}</td>
                <td>{{ pokemon.idEspece.nom }}</td>
                <td>{{ pokemon.surnom }}</td>
                <td>{{ pokemon.niveau }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">Show</a>
                    -
                    <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">Edit</a>
                    {% if not pokemon.isToSell %}
                        -
                        <a
                                {% if pokemon.isRecentAction or pokemon.niveau == 100 %}
                                    style="color: grey"
                                {% else %}
                                    href="{{ path('pokemon_training', {'id': pokemon.id}) }}"
                                {% endif %}
                        >
                            {% if pokemon.niveau == 100 %}
                                Max Level
                            {% else %}
                                Training
                            {% endif %}
                        </a>
                        -
                        <a href="{{ path('pokemon_sell', {'id': pokemon.id}) }}">Sell</a>
                    {% else %}
                        -
                        <a style="color: grey">For sale</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun pokemon dans ce Pokedex</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
