{% extends 'base.html.twig' %}

{% block title %}Shop Pokemon{% endblock %}

{% block body %}
    <h1>Shop Pokemon</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Vendeur</th>
            <th>Pokedex Id</th>
            <th>Espece</th>
            <th>Niveau</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td>{{ pokemon.idDresseur.pseudo }}</td>
                <td>{{ pokemon.idEspece.id }}</td>
                <td>{{ pokemon.idEspece.nom }}</td>
                <td>{{ pokemon.niveau }}</td>
                <td>{{ pokemon.prix }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">Details</a>
                    -
                    <a
                            {% if app.user.money < pokemon.prix %}
                                style="color: grey"
                            {% else %}
                                href="{{ path('pokemon_buy', {'id': pokemon.id}) }}"
                                onclick="return confirm('Are you sure you want to buy this Pokemon ?');"
                            {% endif %}
                    >Buy</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun pokemon à vendre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
