{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idespece</th>
                <td>{{ pokemon.idespece.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pokemon.idespece.nom }}</td>
            </tr>
            <tr>
                <th>Surnom</th>
                <td>{{ pokemon.surnom }}</td>
            </tr>
            <tr>
                <th>Type</th>
            {% for row in pokemon.idespece.idType %}
                    <td>{{ row.type }}</td>
            {% else %}
                    <td colspan="2">no records found</td>
            {% endfor %}
            </tr>
            <tr>
                <th>Courbe XP</th>
                <td>{{ pokemon.idespece.courbeXP }}</td>
            </tr>
            <tr>
                <th>XP</th>
                <td>{{ pokemon.xp }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ pokemon.niveau }}</td>
            </tr>
            <tr>
                <th>Evolution</th>
                {% if pokemon.idespece.evolution == 'o' %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ pokemon.sexe }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ pokemon.prix }}</td>
            </tr>
            <tr>
                <th>Heure de la dernière action</th>
                <td>{% if pokemon.action != null %}
                    {{ pokemon.action|date('Y-m-d H:i:s') }}
                    {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-lg btn-primary">
        <a href="{{ path('pokemon_training', {'id': pokemon.id}) }}">Training</a>
    </button>

    <br />

    <a class="btn btn-primary" href="{{ path('pokemon_index') }}">Back to list</a>

    <a class="btn btn-primary" href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">Edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
