{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Pokedex Id</th>
            <td>{{ pokemon.idespece.id }}</td>
        </tr>
        <tr>
            <th>Espece</th>
            <td>{{ pokemon.idespece.nom }}</td>
        </tr>
        <tr>
            <th>Surnom</th>
            <td>{{ pokemon.surnom }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>
                {% for row in pokemon.idespece.idType %}
                    {{ row.type }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Courbe XP</th>
            <td>{{ pokemon.idespece.courbeXP }}</td>
        </tr>
        <tr>
            <th>XP</th>
            <td>{{ pokemon.xp }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ pokemon.niveau }}</td>
        </tr>
        <tr>
            <th>Evolution</th>
            <td>
                {% if pokemon.idespece.evolution == 'o' %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Sexe</th>
            <td>{{ pokemon.sexe }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ pokemon.prix }}</td>
        </tr>
        <tr>
            <th>A vendre</th>
            {% if pokemon.isToSell %}
                <td>Oui</td>
            {% else %}
                <td>Non</td>
            {% endif %}
        </tr>
        <tr>
            <th>Heure de la dernière action</th>
            <td>{% if pokemon.action != null %}
                    {{ pokemon.action|date('Y-m-d H:i:s', 'Europe/Paris') }}
                {% endif %}</td>
        </tr>
        </tbody>
    </table>

    {% if app.user.id == pokemon.iddresseur.id %}
        <button class="btn btn-lg btn-primary">
            <a
                    {% if pokemon.isRecentAction or pokemon.niveau == 100 %}
                        style="color: grey"
                    {% else %}
                        href="{{ path('pokemon_training', {'id': pokemon.id}) }}"
                    {% endif %}
            >
                {% if pokemon.niveau == 100 %}
                    Max Level
                {% else %}
                    Training
                {% endif %}
            </a>
        </button>

        <br />

        <a class="btn btn-primary" href="{{ path('pokemon_index') }}">back to list</a>

        <a class="btn btn-primary" href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">edit</a>

        {% if pokemon.toSell == false %}
            <a class="btn btn-primary" href="{{ path('pokemon_sell', {'id': pokemon.id}) }}">Sell</a>
        {% endif %}
    {% else %}
        <a class="btn btn-lg btn-primary"
                {% if app.user.money < pokemon.prix %}
                    style="color: grey"
                {% else %}
                    href="{{ path('pokemon_buy', {'id': pokemon.id}) }}"
                    onclick="return confirm('Are you sure you want to buy this Pokemon ?');"
                {% endif %}
        >Buy</a>

        <br />

        <a class="btn btn-primary" href="{{ path('pokemon_shop') }}">back to shop</a>
    {% endif %}

{% endblock %}
